/* Reset default browser styles */
body, h1, h2, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #333;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#image {
    width: 10%;
    height: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#second-image {
    width: 10%;
    height: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#bold {
    font-weight: bold;
}

li {
    margin-top: 20px;
}

p {
    margin-top: 5px;
}
